<ng-container *ngIf="item">
    <div class="">
        <div>
            <mat-checkbox class="text-lg">
                 {{ item.name }}
            </mat-checkbox>
        </div>
        <div class="mt-1">
            <div class="flex text-xs ml-6 space-x-8">
                <div class="flex-auto flex items-center" *ngIf="item.listName">
                    <div class="flex-none h-2 w-2 rounded-full mr-1" [style.backgroundColor]="item.listColor"></div>
                    <div class="flex-auto"> {{ item.listName }}</div>
                </div>
                <div *ngIf="item.dueDate" class="flex-auto" matTooltip="Due date" matTooltipPosition="left">{{ item.dueDate }}</div>
            </div>
        </div>
    </div>
</ng-container>