<div class="f">
    <div>
        <mat-checkbox class="text-lg">
            Buy woodworking material
        </mat-checkbox>
    </div>
    <div class="mt-1">
        <div class="flex text-xs ml-6">
            <div class="flex-1 flex items-center">
                <div class="flex-none h-2 w-2 rounded-full bg-red-500 mr-1"></div>
                <div class="flex-1">Project Y</div>
            </div>
            <div class="flex-1" matTooltip="Due date" matTooltipPosition="left">17. Dez 2021</div>
        </div>
    </div>
</div>
