<div class="h-full w-full flex flex-col">
    <mat-selection-list class="todo-items overflow-y-auto" *ngIf="!!items">
        <!-- <mat-list-option checkboxPosition="before">
            <div class="flex flex-row justify-between items-center">
            <div>Item 1</div> 
            <button class="opacity-50" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            </div>
        </mat-list-option>
        <mat-list-option checkboxPosition="before">
            <div class="flex flex-row justify-between items-center">
                <div>Item 2</div> 
                <button class="opacity-50" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
        </mat-list-option>
        <mat-list-option checkboxPosition="before">
            <div class="flex flex-row justify-between items-center">
                <div>Item 3</div> 
                <button class="opacity-50" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
        </mat-list-option>
        <mat-list-option checkboxPosition="before">
            <div class="flex flex-row justify-between items-center">
                <div>Item 4</div> 
                <button class="opacity-50" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
        </mat-list-option> -->
        <mat-list-option *ngFor="let item of items; index as i" checkboxPosition="before">
            <div class="flex flex-row justify-between items-center">
                <div>{{ item.name }}</div> 
                <button (click)="edit($event, item.id)" class="opacity-50" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
        </mat-list-option>
    </mat-selection-list>
</div>