<div class="w-full h-full flex">
   <form class="flex flex-col max-w-screen-md w-1/4">
       <mat-form-field class="">
           <mat-label>Title</mat-label>
           <input matInput type="text">
       </mat-form-field>
       <mat-form-field>
           <mat-label>Description</mat-label>
           <textarea matInput [mat-autosize]="true" [matAutosizeMaxRows]="5" [matAutosizeMinRows]="5" type="text"></textarea>
       </mat-form-field>
       
       <div>
           <button mat-button type="button">Cancel</button>
           <button mat-button type="button">Create</button>
       </div>

   </form>
</div>