<div class="h-full w-full flex flex-col bg-white">
    <div *ngIf="isRequestInProgress" class="w-full h-full relative">
        <ngx-spinner [fullScreen]="false" [name]="spinnerName" type="ball-fussion" size="medium">
        </ngx-spinner>
    </div>
    <!-- TODO: make a common component out of this as soon as I use it a second time. the background color has to be defined in the scss so that it can be set at ONE place. -->
    <div class="header h-32 flex-none flex w-full pl-10 items-center">
        <span class="text-3xl">{{ headerTitle }}</span>
    </div>
    <div class="content h-full w-full flex-1 flex flex-col p-10" *ngIf="!isRequestInProgress">
        <form *ngIf="!!this.form" [formGroup]="form" class="h-full w-full flex flex-col overflow-y-auto max-w-screen-md bg-white gap-x-6 gap-y-6">
            <mat-form-field id="name-input" class="mb-4">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error *ngIf="form?.getError('required', 'name')">You must enter a name.</mat-error>
            </mat-form-field>
            <mat-form-field class="mb-4">
                <mat-label>Description (optional)</mat-label>
                <textarea formControlName="description" matInput [cdkTextareaAutosize]="true" [cdkAutosizeMaxRows]="5"
                    [cdkAutosizeMinRows]="5" type="text"></textarea>
            </mat-form-field>
            <color-circle formControlName="bgColor" class="mb-8"></color-circle>
            <div class="w-full flex justify-end gap-x-5">
                <button (click)="onCancel()" mat-flat-button type="button">Cancel</button>
                <button (click)="onSave()" [disabled]="isSaveDisabled()"mat-flat-button color="primary" type="button">Save</button>
            </div>
        </form>
    </div>
</div>