



<!-- TODO: split up into own component: header with some information -->
<div class="flex flex-col h-full shadow-md max-w-md w-72">
    <div class="sidenav-header flex justify-end flex-none bg-gray-50 p-3">
        <div class="flex justify-items-center items-center ">            
            <div class="pr-2">9 / 12</div>
            <mat-progress-spinner
            [diameter]="24"
            class="h-2"
            [mode]="'determinate'"
            [value]="75">
            </mat-progress-spinner>
        </div>
    </div>

    <!-- defaults links -->
    <div class="flex-none">
        <mat-nav-list style="padding-top: 0">
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-blue-500">circle</mat-icon>
                </button>
                <a matLine href="">Today</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-blue-500">circle</mat-icon>
                </button>
                <a matLine href="">Matrix</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-blue-500">circle</mat-icon>
                </button>
                <a matLine href="">Upcoming</a>
            </mat-list-item>
          </mat-nav-list>      
    </div>
    <mat-divider class=""></mat-divider>
    <!-- user todo lists -->
    <div class="flex-auto">
        <mat-nav-list style="padding-top: 0">
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-green-500">circle</mat-icon>
                </button>
                <a matLine href="">Project List 1</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-yellow-500">circle</mat-icon>
                </button>
                <a matLine href="">Project List 2</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                    <mat-icon class="text-red-500">circle</mat-icon>
                </button>
                <a matLine href="">Project List 3</a>
            </mat-list-item>
        </mat-nav-list>  
    </div>
    <!-- actions -->
    <div class="w-full">
        <button mat-button color="primary" class="w-2/4 h-16 text-lg">
            <div class="flex items-center justify-items-center">
                <mat-icon>add</mat-icon> Add list
            </div>
        </button>
        <button mat-button color="primary" class="w-2/4 h-16 text-lg">
            <div class="flex items-center justify-items-center">
                <mat-icon>add</mat-icon> Add Task
            </div>
        </button>
    </div>
</div>