<div class="h-full w-full flex flex-col">
    <div class="h-32 flex-none bg-blue-500 flex items-center">
        <!-- HEADER -->
        <div class="flex-1 text-white ml-6">
            <p class="text-3xl m-0">Today</p>
            <p>Important and urgent</p>
        </div>
        <!-- action menu -->
        <div class="place-self-end mr-4 mb-4">
            <button mat-mini-fab color="'accent'">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
     
    </div>

    <!-- TODO: list component -->
    <div class="h-full flex-1 flex flex-col">
        <!-- actual list -->
        <mat-list class="list-items overflow-y-auto" role="list">
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
