<div class="h-full w-full flex flex-col">
    <div class="h-36 flex-none bg-blue-500 flex flex-col shadow-sm shadow-gray-900 pt-4" [style.backgroundColor]="headerBgColor">
        <!-- HEADER -->
        <div class="flex-1 flex flex-col text-white ml-6">
            <div class="flex">    
                <p id="list-title" class="flex-1 text-3xl m-0">{{ title }}</p>
                <div class="flex-none mr-4">
                    <button mat-icon-button (click)="onBackBtnClick()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <p id="list-subtitle">{{ subtitle }}</p>
      
        </div>
        <!-- TODO: BACK BUTTON -->
        <!-- action menu -->
        <div class="place-self-end mr-4 mb-4 text-white">
            <button mat-icon-button color="'accent'" [matMenuTriggerFor]="actionMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu>
                <button mat-menu-item (click)="showAllItems()">
                    <span>Show all items</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- TODO: list component -->
    <div class="h-full flex-1 flex flex-col">
        <!-- actual list -->
        <mat-list style="padding-top: 0" class="list-items overflow-y-auto" role="list">
            <ng-container *ngFor="let item of todoViewListItems">
                <mat-list-item class="my-4" role="listitem">
                    <app-todo-list-item [item]="item" (doneChanged)="onDoneChanged($event)"></app-todo-list-item>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <!-- <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="my-4" role="listitem">
                <app-todo-list-item></app-todo-list-item>
            </mat-list-item>
            <mat-divider></mat-divider> -->
        </mat-list>
    </div>
</div>
