<div class="h-full w-full ">
    <div class="h-full w-full p-16 grid grid-flow-row grid-cols-2 grid-rows-2 gap-4">
        <div class="bg-green-200 flex flex-col">
            <div class="pt-4 pl-4 pb-2 pr-2 flex items-center ">
                <a mat-button>Important and urgent</a>
                <button mat-icon-button>
                    <mat-icon>more</mat-icon>
                </button>
            </div> 
            <app-todo-matrix-quadrant [items]="itemsImportantAndUrgent"></app-todo-matrix-quadrant>
        </div>
        <div class="bg-green-100 flex flex-col">
            <div class="pt-4 pl-4 pb-2 pr-2 flex items-center ">
                <a mat-button>Important and not urgent</a>
                <button mat-icon-button>
                    <mat-icon>more</mat-icon>
                </button>
            </div> 
            <app-todo-matrix-quadrant [items]="itemsImportantAndNotUrgent"></app-todo-matrix-quadrant>
        </div>
        <div class="bg-yellow-100 flex flex-col">
            <div class="pt-4 pl-4 pb-2 pr-2 flex items-center ">
                <a mat-button>Urgent and not important</a>
                <button mat-icon-button>
                    <mat-icon>more</mat-icon>
                </button>
            </div> 
            <app-todo-matrix-quadrant [items]="itemsUrgentAndNotImportant"></app-todo-matrix-quadrant>
        </div>
        <div class="bg-gray-100	flex flex-col">
            <div class="pt-4 pl-4 pb-2 pr-2 flex items-center ">
                <a mat-button>Not important and not urgent</a>
                <button mat-icon-button>
                    <mat-icon>more</mat-icon>
                </button>
            </div> 
            <app-todo-matrix-quadrant [items]="itemsNotUrgentAndNotImportant"></app-todo-matrix-quadrant>
        </div>
    </div>
</div>