<div class="h-full w-full flex flex-col bg-white">
    <!-- <div *ngIf="isRequestInProgress" class="w-full h-full relative">
        <ngx-spinner [fullScreen]="false" [name]="spinnerName" type="ball-fussion" size="medium">
        </ngx-spinner>
    </div> -->
    <!-- TODO: make a common component out of this as soon as I use it a second time. the background color has to be defined in the scss so that it can be set at ONE place. -->
    <div class="header h-32 flex-none flex w-full pl-10 items-center">
        <span class="text-3xl">Add task</span>
    </div>
    <div class="content h-full w-full flex-1 flex flex-col p-10" *ngIf="!isRequestInProgress">
        <form *ngIf="!!this.form" [formGroup]="form" class="h-full w-full flex flex-col overflow-y-auto max-w-screen-md bg-white gap-x-6 gap-y-6">
            <mat-form-field class="">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error *ngIf="form?.getError('required', 'name')">You must enter a name.</mat-error>
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Note (optional)</mat-label>
                <textarea id="note-input" formControlName="note" matInput [cdkTextareaAutosize]="true" [cdkAutosizeMaxRows]="5"
                    [cdkAutosizeMinRows]="5" type="text"></textarea>
            </mat-form-field> 

            <mat-form-field>
                <mat-label>List (optional)</mat-label>
                <mat-select formControlName="listId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let list of todoLists" [value]="list.id">
                        {{list.name}}
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <mat-button-toggle-group  formControlName="matrixX">
                    <mat-button-toggle [value]="0">Urgent</mat-button-toggle>
                    <mat-button-toggle [value]="1">Not urgent</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
           
            <div>
                <mat-button-toggle-group formControlName="matrixY">
                    <mat-button-toggle [value]="0">Important</mat-button-toggle>
                    <mat-button-toggle [value]="1">Not important</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

    
            <div>
                <mat-form-field>
                    <mat-label>Due date</mat-label>
                    <input matInput [matDatepicker]="dueDatepicker" formControlName="dueDate">
                    <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatepicker></mat-datepicker>
                </mat-form-field>
            </div>


            <mat-checkbox formControlName="markedAsDone">Done</mat-checkbox>
    
      
            <div class="actions-container flex-none w-full flex justify-end gap-x-5">
                <button (click)="onCancel()" mat-flat-button type="button">Cancel</button>
                <button (click)="onSave()" [disabled]="isSaveDisabled()" mat-flat-button color="primary" type="button">Save</button>
            </div>
        </form>
    </div>
</div>