<div class="w-full h-full flex flex-col bg-white">
    <!-- <div *ngIf="isRequestInProgress" class="w-full h-full relative">
        <ngx-spinner [fullScreen]="false" [name]="spinnerName" type="ball-fussion" size="medium">
        </ngx-spinner>
    </div> -->
    <!-- TODO: make a common component out of this as soon as I use it a second time. the background color has to be defined in the scss so that it can be set at ONE place. -->
    <div class="header flex h-28 w-full pl-10 items-center">
        <span class="text-3xl">Add task</span>
    </div>
    <div class="w-1/4 h-full w-full justify-start p-10" *ngIf="!isRequestInProgress">
        <form *ngIf="!!this.form" [formGroup]="form" class="flex flex-col max-w-screen-md w-full bg-white">
            <mat-form-field class="mb-4">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error *ngIf="form?.getError('required', 'name')">You must enter a name.</mat-error>
            </mat-form-field>
            <mat-form-field class="mb-4">
                <mat-label>Note (optional)</mat-label>
                <textarea formControlName="note" matInput [mat-autosize]="true" [matAutosizeMaxRows]="5"
                    [matAutosizeMinRows]="5" type="text"></textarea>
            </mat-form-field> 

            <div id="matrix-x-container" class="flex-none">
                <mat-button-toggle-group formControlName="matrixX">
                    <mat-button-toggle [value]="0">Urgent</mat-button-toggle>
                    <mat-button-toggle [value]="1">Not urgent</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
           
            <div id="matrix-y-container" class="flex-none">
                <mat-button-toggle-group formControlName="matrixY">
                    <mat-button-toggle [value]="0">Important</mat-button-toggle>
                    <mat-button-toggle [value]="1">Not important</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <mat-form-field>
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="dueDatepicker" formControlName="dueDate">
                <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #dueDatepicker></mat-datepicker>
            </mat-form-field>

            <div>
                <mat-checkbox formControlName="markedAsDone">Done</mat-checkbox>
            </div>

      
            <div class="actions-container w-full flex justify-end gap-x-5">
                <button (click)="onCancel()" mat-flat-button type="button">Cancel</button>
                <button (click)="onSave()" [disabled]="isSaveDisabled()" mat-flat-button color="primary" type="button">Save</button>
            </div>
        </form>
    </div>
</div>